[defaults]
host_key_checking = False
inventory = ./hosts
remote_user = pi
private_key_file = /home/safa/.ssh/pi
collections_paths = ~/.ansible/collections:/usr/share/ansible/collections:.

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
